---
import type { SidebarItem } from "@utils/helpers/navigation/types";
import classNames from "classnames";

interface Props {
  child: SidebarItem;
}

const { child } = Astro.props;
const childVersion = child?.version ?? "0";
const childCategory = child?.slug?.includes("/sdk") ? "sdk" : "api";
const categoryClass = `category-${childCategory}-${childVersion}`;
---

<div
  class={classNames(
    "xs:w-full lg:w-[calc(33.3%-8px)] h-auto min-h-[144px] group",
    {
      hidden: !!child.version,
    },
    categoryClass,
  )}
>
  <a class="!no-underline !text-black" href={`/${child.slug}`}>
    <div
      class="h-full px-4 pt-4 pb-6 justify-center relative rounded-lg border border-card hover:shadow-lg"
    >
      <span class="block font-semibold mb-2 group-hover:text-link-active">
        {child.categoryTitle ? child.categoryTitle : child.title}
      </span>
      <div class="font-normal">
        {child.description}
      </div>
    </div>
  </a>
</div>

<script>
  import { $versions as $sdkVersions } from "@store/sdkVersionsStore";

  document.addEventListener("DOMContentLoaded", () => {
    const currentSdkVersion = $sdkVersions.get().currentVersion.value || "v5";
    // Helper function to hide all versioned items initially
    const hideAllVersionedItems = () => {
      const versionedItems = document.querySelectorAll(
        "[class*='category-sdk']",
      );
      versionedItems.forEach((item) => {
        if (!item.classList.contains("hidden")) item.classList.add("hidden");
      });
    };

    // Helper function to show items for the current versions
    const showCurrentVersionItems = (sdkVersion: string) => {
      hideAllVersionedItems();
      // Select and show items for the current SDK versions
      const versionedItems = document.querySelectorAll(
        `.category-sdk-${sdkVersion}, .category-sdk-0`,
      );
      versionedItems.forEach((item) => {
        item.classList.remove("hidden");
        item.classList.add("block");
      });
    };

    // Subscribe to version changes in the Nanostores
    $sdkVersions.subscribe((store) => {
      const sdkVersion = store.currentVersion?.value;
      if (sdkVersion) {
        showCurrentVersionItems(sdkVersion);
      }
    });
  });
</script>
