---
import PageBreadcrumbs from "@components/Layout/PageBreadcrumbs/PageBreadcrumbs.astro";

const { title, description, breadcrumbs, link } = Astro.props;
---

<div class="max-w-[956px]">
  <div class="flex gap-x-5">
    <PageBreadcrumbs breadcrumbs={breadcrumbs} withMargin={false} />
  </div>
  <a href={link} class="group flex flex-col">
    <h5
      class="text-heading-5 font-semibold text-search-primary mt-3 mb-4 group-hover:text-link-active"
    >
      {title}
    </h5>
    <p class="text-heading-5" text-search-primary>{description}</p>
  </a>
</div>
