---
import type { CollectionEntry } from "astro:content";
import SidebarHeader from "@components/Layout/LeftSidebar/SidebarHeader.astro";
import SidebarSearch from "@components/Layout/LeftSidebar/SidebarSearch.astro";
import LanguageSwitch from "@components/LanguageSwitch.astro";
import { LOCALE_NAMES } from "@i18n/locales";
import { uniqueSdkVersions } from "@utils/getUniqueVersions";
import type {
  ContentCollectionEntry,
  Languages,
  LanguageTrees,
} from "@utils/types";
import NavigationTree from "./Navigation.astro";

interface Props {
  homeUrl: string;
  lang: string;
  redirects: CollectionEntry<"docs">["data"]["redirects"];
  currentSlug: string;
  languageTree: LanguageTrees;
  versions: CollectionEntry<"docs">["data"]["versions"];
}

const { homeUrl, lang, redirects, currentSlug, languageTree, versions } =
  Astro.props;
const sidebar = languageTree[lang as Languages];
---

<aside
  class="h-screen xs:hidden xs:absolute xs:z-30 xs:w-full lg:max-w-[294px] lg:flex lg:sticky top-0 flex flex-col border-r-[1.5px] bg-white border-[#E0EAFF] sidebar-open:flex"
  title="Site Navigation"
>
  {/* Header with audience switch */}
  <SidebarHeader
    homeUrl={homeUrl}
    lang={lang}
    redirects={redirects}
    versions={versions}
  />
  {/* Search input */}
  <SidebarSearch />
  <NavigationTree sidebar={sidebar} currentSlug={currentSlug} />
  {/* Language switcher */}
  <div class="h-[63px] border-t-[1px] border-[#CDD0E0]">
    <LanguageSwitch
      lang={lang}
      locales={LOCALE_NAMES}
      currentUrl={currentSlug}
    />
  </div>
</aside>
