---
import type { CollectionEntry } from "astro:content";
import { uniqBy } from "lodash-es";

import AudienceDropdown from "@components/AudienceDropdown.astro";
import AdjustLogo from "@components/Icons/astro/AdjustLogo.astro";
import SdkVersionSwitch from "@components/Version/SdkVersionSwitch.astro";
import ApiVersionSwitch from "@components/Version/ApiVersionSwitch";
import { useTranslations } from "@i18n/utils";
import { type Locales } from "@i18n/locales";
import classNames from "classnames";
import { uniqueSdkVersions } from "@utils/helpers/navigation/getUniqueVersions";
import { getCurrentPage } from "@utils/helpers/navigation/getCurrentPage";

interface Props {
  homeUrl: string;
  lang: string;
  redirects: CollectionEntry<"docs">["data"]["redirects"];
  versions: CollectionEntry<"docs">["data"]["versions"];
}

const { homeUrl, lang, redirects, versions } = Astro.props;
const pathName = getCurrentPage(Astro.url.pathname);
const isSdkSwitch =
  pathName.includes("sdk") &&
  uniqueSdkVersions &&
  uniqueSdkVersions.length &&
  (redirects || pathName.trim().split("/").length === 2);
const isApiSwitch =
  pathName.includes("api") &&
  versions &&
  versions["api"] &&
  versions["api"].length &&
  redirects;
const t = useTranslations(lang as keyof Locales);
---

<div
  class={classNames(
    "flex flex-col items-center pt-7 pl-[27px] sidebar-open:justify-center sidebar-open:mb-5 sidebar-open:pt-[6px] sidebar-open:pl-0",
    {
      "mb-[74px]": !isApiSwitch && !isSdkSwitch,
    },
  )}
>
  <div
    class="flex flex-row items-center xs:justify-center md:justify-start w-full"
  >
    <a href={homeUrl} title={t("header.adjust-logo-link-label")}>
      <AdjustLogo />
    </a>
    <AudienceDropdown lang={lang} />
  </div>
  <div class="w-full md:pr-8 flex justify-center">
    {
      isSdkSwitch ? (
        <SdkVersionSwitch lang={lang} currentPage={pathName} />
      ) : undefined
    }
    {
      isApiSwitch ? (
        <ApiVersionSwitch
          client:only="react"
          lang={lang}
          redirects={redirects}
          versions={uniqBy(versions["api"], "value")}
        />
      ) : undefined
    }
  </div>
</div>
