---
import type { CollectionEntry } from "astro:content";
import SidebarHeader from "./SidebarHeader.astro";
import SidebarSearch from "./SidebarSearch.astro";
import Navigation from "./Navigation.astro";
import LanguageSwitch from "@components/LanguageSwitch.astro";
import { LOCALE_NAMES } from "@i18n/locales";
import type { NavigationData } from "@utils/helpers/navigation/types";

interface Props {
  homeUrl: string;
  lang: string;
  navigationEntries: NavigationData["languageTree"];
  redirects: CollectionEntry<"docs">["data"]["redirects"];
  versions: NavigationData["versions"];
}

const { homeUrl, lang, navigationEntries, redirects, versions } = Astro.props;
---

<aside
  class="h-screen xs:hidden xs:absolute xs:z-30 xs:w-full lg:max-w-[294px] lg:flex lg:sticky top-0 flex flex-col border-r-[1.5px] bg-white border-[#E0EAFF] sidebar-open:flex"
  title="Site Navigation"
>
  {/* Header with audience switch */}
  <SidebarHeader
    homeUrl={homeUrl}
    lang={lang}
    redirects={redirects}
    versions={versions}
  />
  {/* Search input */}
  <SidebarSearch />
  <Navigation navigationEntries={navigationEntries} />
  <div class="h-[63px] border-t-[1px] border-[#CDD0E0]">
    <LanguageSwitch
      lang={lang}
      locales={LOCALE_NAMES}
      currentUrl={Astro.url.pathname}
    />
  </div>
</aside>
