---
import type { MarkdownHeading } from "astro";
import classNames from "classnames";

import RightSidebar from "@components/RightSidebar/RightSidebar.astro";
import type { NavigationData } from "@utils/helpers/navigation/types";

import "./article.css";

type Props = {
  title: string;
  headings: MarkdownHeading[];
  childLinks: NavigationData["childLinks"];
};

const { title, headings, childLinks } = Astro.props;
---

<article id="article" class="article-main w-full">
  <section class="main-section">
    <h1 class="text-heading-1 font-bold leading-[1] mb-4" id="overview">
      {title}
    </h1>
    <aside title="Table of Contents">
      <RightSidebar headings={headings} title={title} />
    </aside>
    <div
      class={classNames({ "article-content": !childLinks.length })}
      id="article-content"
    >
      <slot />

      <div class="article-categories w-full flex flex-wrap gap-x-2 gap-y-4">
        {
          childLinks.map((child) => (
            <div class="xs:w-full lg:w-[calc(33.3%-8px)] h-auto min-h-[144px]">
              <a href={"/" + child.slug}>
                <div class="h-full px-4 pt-4 pb-6 justify-center relative rounded-lg border border-card hover:shadow-lg">
                  <span class="block font-semibold mb-2">{child.title}</span>
                  <div class="font-normal">{child.description}</div>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</article>
