---
import type { MarkdownHeading } from "astro";
import classNames from "classnames";

import RightSidebar from "../RightSidebar/RightSidebar.astro";
import type { NavigationData } from "@utils/helpers/navigation/types";
import CategoryCard from "@components/Cards/CategoryCard.astro";
import SdkVersionSwitch from "@components/Version/SdkVersionSwitch";
import ApiVersionSwitch from "@components/Version/ApiVersionSwitch";

import { getLanguageFromURL } from "@i18n/utils";
import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

const currentLang = getLanguageFromURL(Astro.url.pathname);

const t = useTranslations(currentLang as keyof Locales);

type Props = {
  title: string;
  headings: MarkdownHeading[];
  childLinks: NavigationData["childLinks"];
};

const { title, headings, childLinks } = Astro.props;

const sortedLinks = childLinks.sort((a, b) => {
  if (!a.position && !b.position) {
    return 0;
  }
  a.position = Number(a.position) || 0;
  b.position = Number(b.position) || 0;
  return a?.position > b?.position ? 1 : -1;
});
---

<article
  id="article"
  class="article-main w-full sidebar-open:hidden text-black"
>
  <section class="main-section">
    <h1 class="text-heading-1 font-bold leading-[1] mb-4" id="overview">
      {title}
    </h1>
    <aside title={t("toc.header")}>
      <RightSidebar headings={headings} title={title} />
    </aside>
    <div
      class={classNames({ "article-content": !sortedLinks.length })}
      id="article-content"
    >
      {
        Astro.url.pathname.includes("sdk") && (
          <SdkVersionSwitch client:only="react" lang={currentLang} />
        )
      }
      {
        Astro.url.pathname.includes("api") && (
          <ApiVersionSwitch client:only="react" lang={currentLang} />
        )
      }
      <slot />
      <!-- Category cards for the entry with "category" type and childs -->
      {
        sortedLinks.length ? (
          <div class="w-full flex flex-wrap gap-x-2 gap-y-4">
            {sortedLinks.map((child) => (
              <CategoryCard child={child} />
            ))}
          </div>
        ) : null
      }
    </div>
  </section>
</article>

<style is:global>
  body {
    @apply flex flex-col min-h-screen text-base leading-6 max-w-full selection:text-blue selection:bg-selection;
  }

  /* Headers */

  .article-content > h1 {
    @apply text-heading-1 max-w-[40ch] mb-4 font-bold leading-[1];
  }

  .article-content > h2 {
    @apply text-heading-2 text-black max-w-[40ch] mb-4 font-bold leading-[1] not-first:mt-12;
  }

  .article-content > h3 {
    @apply text-heading-3 text-black mb-4 font-bold leading-[1] not-first:mt-12;
  }

  .article-content > h4 {
    @apply text-heading-4 text-black not-first:mt-8 mb-4 font-bold;
  }

  .article-content > h5 {
    @apply text-heading-5 text-black not-first:mt-8 mb-4 font-bold;
  }

  .icon-link {
    @apply inline-block;
  }

  /* Typography */

  .article-content p {
    @apply mb-4 leading-[1.65em];
  }

  .article-content a {
    @apply text-base text-link-active font-link items-center underline-offset-2;
  }

  bold {
    @apply font-semibold text-inherit;
  }

  blockquote {
    @apply my-8 py-5 px-6 leading-[1.7] rounded-[0_0.25rem_0.25rem_0] bg-quote border-l-[3px] border-l-gray-40;
  }

  /* Lists */

  .article-content ol {
    @apply list-decimal list-inside;
  }

  .article-content ul {
    @apply list-disc list-inside;
  }

  .article-content :is(ul, ol) > * {
    @apply mt-3 pl-4;
  }

  .article-content :is(li[role="tab"]) {
    @apply pl-0;
  }

  .article-content ol li {
    @apply marker:text-base marker:font-semibold marker:leading-5 last:pb-4;
  }

  .article-content ul li:not(li[role="tab"]) {
    @apply marker:text-base marker:font-semibold last:pb-4;
  }

  .article-content li > :is(p, pre, blockquote) {
    @apply inline;
  }

  .article-content li > .expressive-code {
    @apply pt-7;
  }

  .article-content li > :is(p, pre, blockquote):not(:first-child) {
    @apply mt-4;
  }

  code {
    @apply font-mono text-sm bg-code rounded-md px-[0.33rem] py-[0.2rem] break-words m-code;
  }

  .article-content iframe {
    @apply w-full h-auto aspect-video;
  }

  /* Links */

  a > code {
    @apply relative bg-transparent underline-offset-2 text-gray-30 before:content-none before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:block before:bg-blue before:opacity-15 before:rounded-[3px];
  }

  a {
    @apply hover:underline focus:underline focus:outline-2 focus:outline focus:outline-current focus:outline-offset-[0.25em];
  }

  /* Nav items */

  .article-content nav {
    @apply mt-4 mb-8;
  }

  .article-content nav :is(ul, ol) {
    @apply list-none [&li]:relative pl-[inherit];
  }

  .article-content nav :is(ul, ol) > * {
    @apply mt-[inherit];
  }

  /* Sidebar */

  .header-link {
    @apply text-base font-normal;
  }

  .header-link a {
    @apply inline-flex gap-2 w-full text-inherit py-[0.4rem] px-0 leading-[1.3] no-underline [unicode-bidi:plaintext];
  }

  @media (min-width: 50em) {
    .header-link a {
      @apply py-[0.275rem] px-0;
    }
  }

  .header-link:hover a,
  .header-link a:focus {
    @apply hover:text-link-active;
  }
  .header-link svg {
    @apply opacity-60;
  }
  .header-link:hover svg {
    @apply opacity-80;
  }

  /* Add line and padding on the left side */

  .header-link.depth-3 {
    @apply ps-4;
  }
  .header-link.depth-4 {
    @apply ps-8;
  }

  .current-header-link {
    @apply font-bold;
  }

  .current-header-link a {
    @apply text-gray-10;
  }

  /* Code blocks */

  .article-content .expressive-code {
    @apply mb-7;
  }

  /* Supporting content */

  .article-content img {
    @apply max-w-full mx-auto py-4 drop-shadow-xl;
  }

  /* Screenreader Only Text */

  .sr-only {
    @apply absolute w-[1px] h-[1px] p-0 -m-[1px] hidden whitespace-nowrap border-0 [clip:rect(0,0,0,0)];
  }

  .focus\:not-sr-only:focus,
  .focus\:not-sr-only:focus-visible {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }

  :target {
    scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
  }
</style>
