---
import { Icon } from "@adjust/components";

import { getLanguageFromURL } from "@i18n/utils";
import AudienceDropdown from "@components/AudienceDropdown.astro";
import { HELP_CENTER_LINK } from "src/consts";

import { type Locales } from "@i18n/locales";
import { useTranslations } from "@i18n/utils";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const t = useTranslations(currentLang as keyof Locales);
const homeUrl = `${Astro.url.origin}/${currentLang}`;
const hcLinkWithLang = HELP_CENTER_LINK + `${currentLang}`;
---

<header
  class="xs:hidden lg:flex justify-between items-center px-8 pt-8 bg-white"
>
  <div class="header-dropdown flex flex-row gap-x-[14px]">
    <a href={homeUrl} class="self-center">
      <img src="/images/Adjust-icon.svg" alt="adjust-icon" />
    </a>
    <AudienceDropdown lang={currentLang} />
  </div>
  <div class="header-links flex gap-x-10">
    <a class="font-medium hover:text-link-active" href={hcLinkWithLang}
      >{t("header.go-to-help-center-label")}</a
    >
    <a
      class="font-medium hover:text-link-active"
      href="https://suite.adjust.com/login"
    >
      <span class="header-links_icon"
        >{t("header.go-to-dashboard-label")}<Icon
          name="ArrowRight"
          client:only="react"
          css={{ marginBottom: 2 }}
        /></span
      >
    </a>
  </div>
</header>
