---
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import { getLanguageFromURL } from "@i18n/utils";

import MenuToggle from "./SidebarToggle";

const currentLang = getLanguageFromURL(Astro.url.pathname);
const homeUrl = `${Astro.url.origin}/${currentLang}`;
---

<div class="xs:flex flex-row lg:hidden justify-between items-center p-4">
  <div class="flex flex-row gap-x-8">
    <MenuToggle client:only="react" lang={currentLang} />
    <a href={homeUrl} class="self-center">
      <img src="/images/Adjust-icon.svg" alt="adjust-icon" />
    </a>
  </div>
  <a href={`${homeUrl}/search`}>
    <IconSearch />
  </a>
</div>
