---
import IconSearch from "@components/Icons/astro/IconSearch.astro";

import MenuToggle from "./SidebarToggle.astro";

const currentLang = Astro.currentLocale || "en";
const homeUrl = `${Astro.url.origin}/${currentLang}`;
---

<div class="xs:flex flex-row lg:hidden justify-between items-center p-4">
  <div class="flex flex-row gap-x-8">
    <MenuToggle lang={currentLang} />
    <a href={homeUrl} class="self-center">
      <img src="/images/Adjust-icon.svg" alt="adjust-icon" />
    </a>
  </div>
  <a href={`${homeUrl}/search`}>
    <IconSearch />
  </a>
</div>
