---
import type { MarkdownHeading } from "astro";

interface Props {
  title: string;
  headings?: MarkdownHeading[];
}

const { title, headings } = Astro.props;
---

<nav
  id="big-toc"
  class="hidden fixed top-0 bottom-0 left-0 z-10 px-4 ml-external-toc mt-32 max-h-screen w-76 xxxl:block"
>
  <div
    id="big-toc-nav"
    class="pl-4 pr-4 h-screen overflow-y-auto flex flex-col bg-secondary"
  >
    <h2 id="big-toc-header" class="text-lg font-medium mb-4 mt-8">
      {title}
    </h2>
    <ul id="big-toc-list" class="space-y-2">
      {
        headings &&
          headings.length > 0 &&
          headings
            .filter(({ depth }) => depth > 1 && depth < 5)
            .map(
              (heading) =>
                heading.slug && (
                  <li
                    class={`toc-item depth-${heading.depth} ml-${heading.depth > 2 ? 6 : 0}`}
                  >
                    <a
                      class="toc-link text-gray-700 hover:text-blue-600 hover:no-underline"
                      data-slug={heading.slug}
                      href={`#${heading.slug}`}
                    >
                      {heading.text}
                    </a>
                  </li>
                ),
            )
      }
    </ul>
  </div>
</nav>
