---
import { randomUUID } from "crypto";

export interface Props {
  title: string;
  sync?: string;
  icon?: string;
}

const { title, sync, icon } = Astro.props as Props;

// Store the content contained within the Accordion as a string.
// Replacing h3 element with populated sync value to make it accessible from Tabs component

let content = "";

const uniqueId = randomUUID();
if (Astro.slots.has("default")) {
  content = await Astro.slots.render("default");
}
---

<div id={uniqueId} class="hidden">
  {/* additional div in case of adding styles to the content */}
  <div id={uniqueId} title={title} class="mt-4" data-type="tab" data-sync={sync} data-icon={icon ?? "Code"} set:html={content} />
</div>
