---
import TabComponent from "@components/TabComponent";

export interface Props {
  sync: string;
  icon: string;
}

const {  sync, icon } = Astro.props as Props;

// Store the content contained within the Accordion as a string.
// Replacing h3 element with populated sync value to make it accessible from Tabs component

let content = "";

if (Astro.slots.has("default")) {
  content = await Astro.slots.render("default");
  content = content.replace(/<h3 id=".*">(.*)\<\/h3>/, `<h3 id="${sync}" data-sync=${sync} data-icon=${icon}>$1</h3>`);
}

---

<TabComponent content={content} sync={sync} />
