---
import ChevronLeft from "@components/Icons/RightSidebar/ChevronLeft.astro";
import ChevronRight from "@components/Icons/RightSidebar/ChevronRight.astro";
import { useTranslations } from "@i18n/utils";
import type { Locales } from "@i18n/locales";
import type { MarkdownHeading } from "astro";

interface Props {
  title: string;
  lang: string;
  headings?: MarkdownHeading[];
}

const { title, lang, headings } = Astro.props;
const t = useTranslations(lang as keyof Locales);
---

<nav
  id="toc"
  class={"hidden transform transition duration-100 translate-x-0 mt-32 fixed top-0 bottom-0 md:right-0 xxl:left-0 border-t border-l border-bluish-grey rounded-tl-lg xxl:ml-open-toc z-25 px-4 bg-white max-h-screen w-[19rem] opacity-1 items-start z-10 lg:flex xxxl:hidden"}
>
  <div class="absolute top-0 bottom-0 flex items-start">
    <button
      id="toc-toggle-button"
      class="rounded-md overflow-hidden mt-8 bg-white relative w-6 h-6 [&_svg]:hover:bg-[#0b58fe] [&_svg]:hover:text-white"
      aria-label={t("toc.toggle-label")}
    >
      <ChevronRight id="chevron-right" class="hidden" />
      <ChevronLeft id="chevron-left" class="hidden" />
    </button>
  </div>
  <div id="toc-nav" class="pl-4 pr-4 h-full overflow-y-auto flex flex-col">
    <h2 id="toc-header" class="text-lg font-medium mb-4 mt-8">{title}</h2>
    <ul id="toc-list" class="space-y-2">
      {
        headings &&
          headings.length > 0 &&
          headings
            .filter(({ depth }) => depth > 1 && depth < 5)
            .map(
              (heading) =>
                heading.slug && (
                  <li
                    class={`toc-item depth-${heading.depth} ml-${heading.depth > 2 ? 6 : 0}`}
                  >
                    <a
                      class="toc-link text-gray-700 hover:text-blue-600 hover:no-underline"
                      href={`#${heading.slug}`}
                      data-slug={heading.slug}
                    >
                      {heading.text}
                    </a>
                  </li>
                ),
            )
      }
    </ul>
  </div>
</nav>

<nav id="toc-mobile" class="xs:block lg:hidden border p-2 my-4">
  <h2 id="on-this-page-heading" class="text-lg font-medium mb-4">{title}</h2>
  <ul id="toc-mobile-list" class="space-y-2">
    {
      headings &&
        headings.length > 0 &&
        headings
          .filter(({ depth }) => depth > 1 && depth < 5)
          .map((heading) => (
            <li
              class={`toc-item depth-${heading.depth} ml-${heading.depth > 2 ? 6 : 0}`}
            >
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))
    }
  </ul>
</nav>

<script>
  import { handleScrollSpy } from "@utils/helpers/toc/handleScrollSpy";
  import { $tocOpen, setTocOpen } from "@store/tocOpenStore";

  class TocController {
    private toc: HTMLElement | null;
    private tocButton: HTMLElement | null;
    private tocList: HTMLElement | null;
    private tocHeader: HTMLElement | null;
    private leftChevron: HTMLElement | null;
    private rightChevron: HTMLElement | null;
    private article: HTMLElement | null;
    private isTocOpen: boolean;
    private didUpdateStore: boolean;
    private openTocClasses: string[];
    private closedTocClasses: string[];

    /**
     * Selects DOM elements and sets class properties
     */
    constructor() {
      this.toc = document.getElementById("toc");
      this.tocButton = document.getElementById("toc-toggle-button");
      this.tocList = document.getElementById("toc-list");
      this.tocHeader = document.getElementById("toc-header");
      this.leftChevron = document.getElementById("chevron-left");
      this.rightChevron = document.getElementById("chevron-right");
      this.article = document.getElementById("article");

      const storeValue = $tocOpen.get();
      this.didUpdateStore = storeValue !== undefined;
      this.isTocOpen = storeValue === "true" || window.innerWidth >= 1440;

      this.openTocClasses = [
        "xxl:ml-open-toc",
        "z-25",
        "px-4",
        "bg-white",
        "max-h-screen",
        "w-[19rem]",
        "opacity-1",
        "items-start",
        "z-10",
      ];
      this.closedTocClasses = ["w-8", "ml-closed-toc"];
    }

    /**
     * Toggles menus open and closed by altering classes
     * @param open Whether the sidebar is currently open
     * @param updateStore Whether to update the store value to persist the user's choice
     */
    private toggleMenu(open: boolean, updateStore: boolean): void {
      this.isTocOpen = open;
      if (updateStore) {
        setTocOpen(open);
        this.didUpdateStore = true;
      }
      this.tocList?.classList.toggle("hidden", !open);
      this.tocHeader?.classList.toggle("hidden", !open);
      this.leftChevron?.classList.toggle("hidden", open);
      this.rightChevron?.classList.toggle("hidden", !open);
      this.toc?.classList[open ? "add" : "remove"](...this.openTocClasses);
      this.toc?.classList[open ? "remove" : "add"](...this.closedTocClasses);
      this.tocButton?.classList.toggle("-ml-8", open);
      this.tocButton?.classList.toggle("-ml-4", !open);
      this.article?.classList.toggle("lg:w-toc-open-article", open);
      this.article?.classList.toggle("lg:w-toc-closed-article", !open);
    }

    /**
     * Debounces functions to reduce performance impact
     * @param func The function to be debounced
     * @param wait The amount of time to wait before timeout
     * @param immediate Whether the function needs to be called immediately
     * @returns The debounced function
     */
    private debounce(func: Function, wait: number, immediate: boolean) {
      let timeout: number | null = null;
      return (...args: any[]) => {
        const later = () => {
          timeout = null;
          if (!immediate) func(...args);
        };
        const callNow = immediate && !timeout;
        if (timeout) clearTimeout(timeout);
        timeout = window.setTimeout(later, wait);
        if (callNow) func(...args);
      };
    }

    private handleResize = this.debounce(
      () => {
        if (!this.didUpdateStore) {
          const smallScreen = window.innerWidth < 1440;
          const verySmallScreen = window.innerWidth < 768;
          const bigScreen = window.innerWidth > 1600;

          if (smallScreen && !verySmallScreen) {
            setTimeout(() => this.toggleMenu(false, false), 100);
          } else if (!smallScreen && !verySmallScreen && !bigScreen) {
            setTimeout(() => this.toggleMenu(true, false), 100);
          }
        }
      },
      100,
      true,
    );

    private handleScroll = this.debounce(handleScrollSpy, 100, true);

    /**
     * Initializes the ToC controller by setting initial values and assigning handlers
     */
    public initialize(): void {
      // Don't execute if there's no ToC on the page
      if (!this.toc) return;
      // Initial setup based on store value and viewport width
      const storeValue = $tocOpen.get();
      this.toggleMenu(storeValue !== "false" && this.isTocOpen, false);

      // Event listener for the toggle button
      this.tocButton?.addEventListener("click", () => {
        this.toggleMenu(!this.isTocOpen, true);
      });

      // Handle window resize
      window.addEventListener("resize", this.handleResize);

      // Handle scroll spy
      requestAnimationFrame(this.handleScroll);
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const controller = new TocController();

    controller.initialize();
  });
</script>
