---
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import TopCategoryCard from "@components/Cards/TopCategoryCard.astro";
import FooterMain from "@components/Layout/Footer/FooterMain.astro";
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import MainHeader from "@components/Layout/Header/MainHeader.astro";
import { KNOWN_LANGUAGE_CODES, type Locales } from "@i18n/locales";
import BodyNoScript from "@components/Layout/GoogleTagManager/BodyNoScript.astro";
import { useTranslations } from "@i18n/utils";

export const getStaticPaths = () => {
  return KNOWN_LANGUAGE_CODES.flatMap((langKey) => ({
    params: { lang: langKey },
  }));
};

const { lang } = Astro.params;

const topCategories = [
  {
    title: "SDK",
    icon: "/images/sdk-icon.svg",
    iconAlt: "sdk-icon",
    link: `/${lang}/sdk`,
  },
  {
    title: "API",
    icon: "/images/api-icon.svg",
    iconAlt: "api-icon",
    link: `/${lang}/api`,
  },
];

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const t = useTranslations(lang as keyof Locales);
const pageTitle = t("site.title");
---

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO pageTitle={pageTitle} canonicalUrl={canonicalURL} />
    <title>
      {pageTitle}
    </title>
  </head>
  <body class="font-body xs:w-full xxl:w-[1600px] mx-auto bg-body-main">
    <BodyNoScript />
    <MainHeader />
    <main
      class="min-h-[calc(100vh-310px)] font-body flex flex-col xs:px-4 md:p-0 justify-center items-center bg-[url(/images/landing-bg.svg)] bg-no-repeat xs:bg-cover md:bg-contain bg-center bg-white"
    >
      <h1
        class="text-heading-1 xs:pt-6 md:pt-0 mb-[106px] font-semibold mx-auto"
      >
        {t("home.welcome")}
      </h1>
      <div class="w-full max-w-[790px] mb-[106px]">
        <a
          class="flex items-center border-b-[1px] border-black min-h-[28px] text-[15px] text-black hover:no-underline hover:outline-0 pb-[9px]"
          href={`/${lang}/search`}
        >
          <div>
            <IconSearch color="#000" />
          </div>
          <span class="font-medium pl-2.5">{t("home.search")}</span>
        </a>
      </div>
      <div
        class="flex xs:gap-y-4 md:gap-y-0 xs:flex-col md:flex-row xs:mb-16 lg:mb-0 justify-center gap-x-16 items-center w-full"
      >
        {
          topCategories.map((category) => (
            <TopCategoryCard category={category} />
          ))
        }
      </div>
    </main>
    <FooterMain language={lang as string} />
  </body>
</html>
