---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import { SITE } from "../../consts";
import IconSearch from "@components/Icons/react/IconSearch";

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "ja", version: "v2" } },
  ];
}

const { lang, version } = Astro.params;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head> </head>

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`${SITE.title}`}
    </title>
  </head>
  <body>
    <header></header>
    <main
      class="font-body xs:w-full xxl:w-[1600px] flex flex-col mx-auto p-0 justify-center items-center"
    >
      <h1 class="mt-[39px] mb-[106px] font-semibold mx-auto">
        Welcome to the Adjust Developer Hub
      </h1>
      <div class="w-full max-w-[840px] mb-[106px]">
        <a
          class="flex items-center border-b-[1px] border-black min-h-[28px] text-[15px] text-black hover:no-underline hover:outline-0"
          href={`/${lang}/search`}
        >
          <div>
            <IconSearch />
          </div>
          <span class="font-medium">Search</span>
        </a>
      </div>
      <div class="flex flex-row justify-center gap-x-16 items-center w-full">
        <div
          class="w-full h-full max-w-[234px] min-h-[235px] border-4 border-[#F4F6F9] rounded-lg cursor-pointer"
        >
          <a href={`${lang}/sdk`}>
            <div class="h-full">
              <div></div>
              <span class="block text-center">SDK</span>
            </div>
          </a>
        </div>
        <div
          class="w-full h-full max-w-[234px] min-h-[235px] border-4 border-[#F4F6F9] rounded-lg cursor-pointer"
        >
          <a href={`${lang}/sdk`}>
            <div></div>
            <span class="block text-center">API</span>
          </a>
        </div>
      </div>
    </main>
  </body>
  <footer></footer>
</html>
