---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import { SITE } from "../../consts";
import IconSearch from "@components/Icons/react/IconSearch";
import TopCategoryCard from "@components/Cards/TopCategoryCard.astro";

export const getStaticPaths = () => {
  return [{ params: { lang: "en" } }, { params: { lang: "ja" } }];
};

const { lang } = Astro.params;

const topCategories = [
  {
    title: "SDK",
    icon: "/images/sdk-icon.svg",
    iconAlt: "sdk-icon",
    link: `${lang}/sdk`,
  },
  {
    title: "API",
    icon: "/images/api-icon.svg",
    iconAlt: "api-icon",
    link: `${lang}/api`,
  },
];

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head> </head>

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`${SITE.title}`}
    </title>
  </head>
  <body>
    <header></header>
    <main
      class="font-body xs:w-full xxl:w-[1600px] flex flex-col mx-auto p-0 justify-center items-center"
    >
      <h1 class="mt-[39px] mb-[106px] font-semibold mx-auto">
        Welcome to the Adjust Developer Hub
      </h1>
      <div class="w-full max-w-[790px] mb-[106px]">
        <a
          class="flex items-center border-b-[1px] border-black min-h-[28px] text-[15px] text-black hover:no-underline hover:outline-0 pb-[9px]"
          href={`/${lang}/search`}
        >
          <div>
            <IconSearch color="#000" />
          </div>
          <span class="font-medium pl-2.5">Search</span>
        </a>
      </div>
      <div
        class="flex xs:gap-y-4 md:gap-y-0 xs:flex-col md:flex-row justify-center gap-x-16 items-center w-full"
      >
        {
          topCategories.map((category) => (
            <TopCategoryCard category={category} />
          ))
        }
      </div>
    </main>
  </body>
  <footer></footer>
</html>
