---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import FooterMain from "@components/Layout/Footer/FooterMain.astro";
import { KNOWN_LANGUAGE_CODES } from "@i18n/locales";
import { SITE } from "src/consts";

export const getStaticPaths = () => {
  return KNOWN_LANGUAGE_CODES.map((langKey) => ({ params: { lang: langKey } }));
};

const { lang } = Astro.params;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`Search | ${SITE.title}`}
    </title>
  </head>
  <body class="font-body xs:w-full xxl:w-[1600px] mx-auto bg-body-main">
    <header>
      <div class="flex justify-between px-[192px] w-full">
        <h1 class="text-heading-1 font-bold">
          What are you looking for today?
        </h1>
        <button>Close search</button>
      </div>
    </header>
    <main
      class="font-body xs:w-full xxl:w-[1600px] flex flex-col mx-auto p-0 justify-center items-center"
    >
      Search page placeholder
    </main>
    <FooterMain language={lang} />
  </body>
</html>
