---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import AtlasIcon from "@components/Icon.astro";
import IconSearch from "@components/Icons/astro/IconSearch.astro";
import FooterMain from "@components/Layout/Footer/FooterMain.astro";
import PlatformFilter from "@components/pages/search/PlatformFilter";
import { KNOWN_LANGUAGE_CODES } from "@i18n/locales";
import { SITE } from "src/consts";

export const getStaticPaths = () => {
  return KNOWN_LANGUAGE_CODES.map((langKey) => ({ params: { lang: langKey } }));
};

const { lang } = Astro.params;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`Search | ${SITE.title}`}
    </title>
  </head>
  <body class="font-body xs:w-full xxl:w-[1600px] mx-auto bg-body-main">
    <div class="bg-secondary xs:px-4 xl:px-[192px] xs:pt-6 xl:pt-[103px]">
      <div
        class="flex gap-y-4 xs:justify-center xs:flex-col xl:flex-row xl:justify-between items-center w-full mb-[55px]"
      >
        <h1 class="text-heading-1 font-bold">
          What are you looking for today?
        </h1>
        <a
          href="/en"
          class="h-[39px] min-w-[171px] border-2 border-black rounded-md flex justify-center items-center font-medium gap-x-[9px] bg-white hover:bg-slate-100"
        >
          Close search
          <AtlasIcon name="Cross" />
        </a>
      </div>
      <div class="mb-[97px] relative">
        <img
          src="/images/icon-search.svg"
          class="absolute top-[18px] left-[33px]"
        />
        <input
          class="w-full max-w-[1128px] h-[65px] bg-white rounded-[10px] text-heading-4 pl-[70px]"
          type="text"
          placeholder="Dev HUB search"
        />
      </div>
      <div class="mb-16 flex flex-row gap-x-[29px] items-center">
        <span class="text-heading-2 font-bold">Show content for:</span>
        <PlatformFilter client:only="react" />
      </div>
    </div>

    Search page placeholder
    <FooterMain language={lang} />
  </body>
</html>
