---
import HeadCommon from "@components/HeadCommon.astro";
import HeadSEO from "@components/HeadSEO.astro";
import { Icon } from "@adjust/components";
import FooterMain from "@components/Layout/Footer/FooterMain.astro";
import MainHeader from "@components/Layout/Header/MainHeader.astro";
import PlatformBadges from "@components/pages/search/PlatformBadges/PlatformBadges";
import PlatformTabs from "@components/pages/search/PlatformTabs";
import HelpCenterIndex from "@components/pages/search/HelpCenterHits/HelpCenterIndex";
import { KNOWN_LANGUAGE_CODES, type Locales } from "@i18n/locales";
import DevHubIndex from "@components/pages/search/DevHubHits/DevHubIndex";
import SearchInput from "@components/pages/search/SearchInput";
import BodyNoScript from "@components/Layout/GoogleTagManager/BodyNoScript.astro";
import { getLanguageFromURL, useTranslations } from "@i18n/utils";
const currentPage = Astro.url.pathname;
const currentLang = getLanguageFromURL(currentPage);

export const getStaticPaths = () => {
  return KNOWN_LANGUAGE_CODES.flatMap((langKey) => ({
    params: { lang: langKey },
  }));
};

const { lang } = Astro.params;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const devHubTypesenseKeys = {
  host: import.meta.env.DEV_HUB_TYPESENSE_HOST,
  apiKey: import.meta.env.DEV_HUB_TYPESENSE_API_KEY,
  indexName: import.meta.env.DEV_HUB_TYPESENSE_INDEX_NAME,
  preset: import.meta.env.DEV_HUB_TYPESENSE_SEARCH_PRESET,
};

const helpCenterAlgoliaKeys = {
  appId: import.meta.env.HELP_CENTER_ALGOLIA_APP_ID,
  apiKey: import.meta.env.HELP_CENTER_ALGOLIA_API_KEY,
  indexName: import.meta.env.HELP_CENTER_ALGOLIA_INDEX_NAME,
};

const t = useTranslations(currentLang as keyof Locales);
---

<html dir={`/${lang}`} lang={lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO canonicalUrl={canonicalURL} />
    <title>
      {`Search | ${t("site.title")}`}
    </title>
  </head>
  <body class="font-body xs:w-full xxl:w-[1600px] mx-auto bg-body-main">
    <BodyNoScript />
    <MainHeader />
    <div class="xs:px-4 xl:px-[192px] pt-8">
      <div class="bg-secondary">
        <div
          class="flex gap-y-4 xs:justify-center xs:flex-col xl:flex-row xl:justify-center items-center w-full mb-[25px]"
        >
          <h1 class="text-heading-2 font-bold">
            {t("search.intro-message")}
          </h1>
        </div>
        <SearchInput client:load lang={lang} />
        <div
          class="search_platform-filter mb-16 flex flex-col gap-x-[29px] items-center"
        >
          <span class="text-base font-bold mb-2.5"
            >{t("search.platform-filter")}</span
          >
          <PlatformBadges client:only="react" lang={lang} />
        </div>
      </div>
      <div>
        <PlatformTabs client:only="react" lang={lang} />
      </div>
    </div>
    <main class="bg-white xs:px-4 xl:px-[192px] pt-[52px]">
      <div class="flex flex-col gap-y-[41px]">
        <DevHubIndex
          typesenseKeys={devHubTypesenseKeys}
          lang={lang}
          client:only="react"
        />
      </div>
    </main>
    <!-- Help Center hits -->
    <div class="w-full bg-[#F4F7FD] flex justify-center pb-[68px] mb-4">
      <div class="mt-12 w-full xs:px-4 md:px-[120px]">
        <div class="flex justify-between items-center mb-3">
          <h1 class="text-grand font-medium">
            {t("search.help-center-results")}
          </h1>
          <div
            class="w-auto min-w-[136px] max-h-10 text-base rounded-full bg-white transition duration-300 hover:bg-slate-200 text-center font-medium"
          >
            <a
              class="h-full w-full px-[16px] py-[6px] text-[14px] flex justify-center"
              aria-label="Close search button"
              href=`https://help.adjust.com/${currentLang}/search`
              rel="noreferrer"
              target="_blank"
            >
              {t("search.help-center-show-more")}
              <Icon client:only="react" name="ArrowRight" />
            </a>
          </div>
        </div>
        <hr class="border border-color-neutral-30 mb-8" />
        <HelpCenterIndex
          algoliaKeys={helpCenterAlgoliaKeys}
          lang={lang}
          client:only="react"
        />
      </div>
    </div>
    <FooterMain language={lang} />
  </body>
</html>
