---
import classNames from "classnames";

// import Icon from "components/common/Icon";
import ContactSupportButton from "./ContactSupportBlock/ContactSupportButton/index.astro";
// import FooterLanguageSwitch from "./FooterLanguageSwitch";
import { footerIcons, footerLinks } from "./static";
import type { FooterProps } from "./types";

const { language } = Astro.props as FooterProps;
---

<footer id="common-footer" class="flex flex-col w-full bg-[#F4F7FF]">
  <div class="px-24">
    <div
      id="footer_contact-us-block"
      class="flex xs:flex-col lg:flex-row xs:h-full md:h-[39px] xs:justify-center lg:justify-between items-center mt-[52px]"
    >
      <p
        class="text-[25px] font-semibold text-center text-footer-main"
        data-testid="contact-support.title"
      >
        Can't find what you're looking for? Get in touch
      </p>
      <ContactSupportButton language={language} contentLevel={false} />
    </div>
    <div class="my-[41px]">
      <hr class="w-full text-main-blue-30" />
    </div>
    <div
      class={classNames(
        "flex justify-between xs:h-auto lg:h-[39px] xs:pb-12 lg:pb-0 xs:flex-col sm:flex-row mb-[37px]"
      )}
    >
      <div
        class="flex flex-wrap items-center w-full xs:pb-4 lg:pb-0 xs:pl-4 sm:pl-0 gap-y-[6px]"
      >
        {
          footerLinks.map((lnk) => (
            <div class="xs:w-1/2 md:w-1/3">
              <a
                data-testid="footer.link"
                target="_blank"
                rel="noreferrer"
                class="footer_link text-xs font-semibold cursor-default text-footer-main xs:pb-1 sm:pb-0 h-fit block"
                href={lnk.url}
              >
                {lnk.text}
              </a>
            </div>
          ))
        }
      </div>
      <div
        class={classNames(
          "flex xs:flex-col md:flex-row gap-x-[35px] items-center"
        )}
      >
        {/* <FooterLanguageSwitch /> */}
        <div
          class="flex flex-row xs:pb-4 md:pb-0 items-center gap-x-[24px] md:gap-x-4"
        >
          {
            footerIcons.map((icon) => (
              <a
                data-testid="footer.link"
                target="_blank"
                rel="noreferrer"
                class="xs:pb-1 sm:pb-0 text-footer-main"
                href={icon.link}
              >
                {/* <Icon key={icon.name} name={icon.name} noMargin /> */}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-[41px] w-full px-24 flex items-center text-xs bg-footer-main text-white"
  >
    © 2023 Adjust GmbH. All rights reserved
  </div>
</footer>
