---
import classNames from "classnames";

import ContactSupportButton from "./ContactSupportBlock/ContactSupportButton/index.astro";
import FooterLanguageSwitch from "./FooterLanguageSwitch.astro";
import { footerIcons, footerLinks } from "./static";

import type { FooterProps } from "./types";

import "./footer.css";

const { language } = Astro.props as FooterProps;
const fullYear = new Date().getFullYear();
---

<footer class="flex flex-col w-full bg-secondary">
  <div class="px-24">
    <div
      class="flex xs:flex-col lg:flex-row xs:h-full md:h-[39px] xs:justify-center lg:justify-between items-center mt-[52px]"
    >
      <p class="text-[25px] font-semibold text-center text-primary">
        Can't find what you're looking for? Get in touch
      </p>
      <ContactSupportButton language={language} contentLevel={false} />
    </div>
    <div class="my-[41px]">
      <hr class="w-full text-main-blue-30" />
    </div>
    <div
      class={classNames(
        "flex justify-between xs:h-auto lg:h-[39px] xs:pb-12 lg:pb-0 xs:flex-col sm:flex-row mb-[37px]"
      )}
    >
      <div
        class="flex flex-wrap items-center w-full xs:pb-4 lg:pb-0 xs:pl-4 sm:pl-0 gap-y-[12px]"
      >
        {
          footerLinks.map((lnk) => (
            <div class="xs:w-1/2 md:w-1/3">
              <a
                target="_blank"
                rel="noreferrer"
                class="footer-link text-xs font-medium cursor-default text-secondary xs:pb-1 sm:pb-0 h-fit block"
                href={lnk.url}
              >
                <span class="cursor-pointer">{lnk.text}</span>
              </a>
            </div>
          ))
        }
      </div>
      <div
        class={classNames(
          "flex xs:flex-col md:flex-row gap-x-[35px] items-center"
        )}
      >
        <FooterLanguageSwitch />
        <div
          class="flex flex-row xs:mb-4 md:mb-0 items-center gap-x-[24px] md:gap-x-4"
        >
          {
            footerIcons.map((icon) => (
              <a
                target="_blank"
                rel="noreferrer"
                class="xs:pb-1 sm:pb-0 text-primary flex min-h-[28px] min-w-[28px]"
                href={icon.link}
              >
                <img class="w-7 h-7" src={`/images/footer/${icon.name}.svg`} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="h-[41px] w-full px-24 flex items-center text-xs bg-main-blue-30 text-primary"
  >
    © {fullYear} Adjust GmbH. All rights reserved
  </div>
</footer>
