---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";

import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import PageContent from "../components/Layout/PageContent/PageContent.astro";
import PageBreadcrumbs from "@components/Layout/PageBreadcrumbs/PageBreadcrumbs.astro";
import Navigation from "../components/Layout/LeftSidebar/Navigation.astro";
import { SITE } from "../consts";
import { getNavigationEntries } from "src/utils/helpers/navigation/getNavigationEntries";
import SidebarHeader from "@components/Layout/LeftSidebar/SidebarHeader/SidebarHeader.astro";
import SidebarSearch from "@components/Layout/LeftSidebar/SidebarSearch/SidebarSearch.astro";
import LanguageSwitch from "@components/Layout/LanguageSwitch";
import { LOCALE_NAMES, getLanguageFromURL } from "@i18n/locales";
import MobileHeader from "@components/Layout/Header/MobileHeader.astro";

import "./main-layout.css";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const pages = await Astro.glob("../content/docs/**/*.mdx");
const currentPage = Astro.url.pathname;
const currentLang = getLanguageFromURL(currentPage);

const navigationEntries = getNavigationEntries(
  pages,
  currentPage,
  currentLang,
  data?.type
);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const homeUrl = `${Astro.url.origin}/${currentLang}`;
---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <title>
      {`${data.title} 🚀 ${SITE.title}`}
    </title>
  </head>

  <body class="font-body">
    <main
      class="flex xs:w-full xs:flex-col lg:flex-row mx-auto xxl:w-[1600px] p-0 gap-x-8"
    >
      <MobileHeader />
      <aside
        class="sidebar-wrapper h-screen xs:hidden xs:absolute xs:z-30 xs:w-full lg:max-w-[294px] lg:flex lg:sticky top-0 flex flex-col border-r-[1.5px] bg-secondary border-[#E0EAFF]"
        title="Site Navigation"
      >
        {/* Header with audience switch */}
        <SidebarHeader homeUrl={homeUrl} />
        {/* Search input */}
        <SidebarSearch />
        <Navigation navigationEntries={navigationEntries?.languageTree} />
        <div class="h-[63px] p-[22px] border-t-[1px] border-[#CDD0E0]">
          <LanguageSwitch
            client:load
            lang={currentLang}
            locales={LOCALE_NAMES}
            currentUrl={Astro.url.href}
          />
        </div>
      </aside>
      <div
        id="content-main"
        class="xs:pl-4 xs:pr-4 xs:w-full lg:pl-0 md:pr-12 flex flex-col mt-14 mb-[150px] lg:w-[calc(100%-326px)]"
      >
        <PageBreadcrumbs breadcrumbs={navigationEntries?.breadcrumbs} />
        <PageContent
          title={data.title}
          headings={headings}
          childLinks={navigationEntries.childLinks}
        >
          <slot />
        </PageContent>
      </div>
    </main>
  </body>
</html>
